*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.center-wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.fixed-name-box {
    position: fixed;
    top: 0;
    left: 5%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.fixed-name-box p {
    font-size: 24px;
    font-weight: 900;
    text-transform: capitalize;
}

.fixed-social-box {
    position: fixed;
    top: 0;
    right: 5%;
    height: 80px;
    width: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

.fixed-social-icon {
    width: 26px;
    height: 26px;
}

.mobile-button-container {
    background: white;
    padding: 7px;
    display: none;
    position: fixed;
    top: 20px;
    right: 250px;
}

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    height: 24px;
    width: 20px;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-line {
    width: 20px;
    height: 3px;
    background: black;
}

.mobile-nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffaa80;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.mobile-nav {
    width: 100%;
    list-style-type: none;
    position: relative;
    bottom: 7%;
}

.mobile-link {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-link a {
    font-size: 66px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.mobile-link a:active {
    color: white;
}

nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-ul {
    width: 460px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-transform: capitalize;
}

a:hover {
    cursor: pointer;
    color: blue;
}

header {
    width: 100%;
    height: 900px;
    background-color: #ffaa80;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.shape1 {
    position: absolute;
    bottom: 420px;
    left: 160px;
    z-index: 12;
}

.shape2 {
    position: absolute;
    bottom: 350px;
    left: 950px;
    z-index: 12;
}

.shape3 {
    position: absolute;
    bottom: 220px;
    left: 440px;
    z-index: 12;
}

.shape4 {
    position: absolute;
    bottom: -150px;
    left: 250px;
    z-index: 12;
    transform: rotate(90deg);
}

.shape5 {
    position: absolute;
    bottom: -120px;
    left: 1000px;
    z-index: 12;
    transform: rotate(90deg);
}

.header-text-holder {
    position: relative;
    left: 80px;
    z-index: 10;
}

h1 {
    text-transform: capitalize;
    font-size: 108px;
    font-weight: 900;
    line-height: 100px;
}

.header-small-header {
    font-size: 36px;
}

.header-image {
    position: relative;
    right: 80px;
    width: 570px;
    height: 750px;
}

#shows {
    width: 100%;
    height: 820px;
    background-color: red;
}

.shows-content-wrapper {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.small-header-box {
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.funny-shape-blue {
    width: 16px;
    height: 14px;
    transform: skew(-20deg);
    background-color: blue;
    position: relative;
    top: 4px;
    left: 17px;
    margin-right: 35px;
}

.funny-shape-blue:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 14px solid blue;
    border-left: 12px solid transparent;
    position: relative;
    bottom: 19px;
    right: 12px;
}

.shows-small-header {
    font-size: 48px;
    letter-spacing: 6px;
    font-weight: 900;
    color: lightgrey;
}

.shows-header {
    font-size: 96px;
    font-weight: 900;
    line-height: 90px;
    padding-top: 40px;
    color: white;
}

.shows-info-box {
    width: 100%;
    color: white;
    font-weight: 900;
    margin-top: 60px;
}

.show-box {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.day-box {
    font-size: 44px;
    margin-right: 15px;
    letter-spacing: 2px;
}

.month-day-box {
    margin-right: 35px;
}

.weekday-text {
    color: lightgrey;
}

.place-text {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}

#about {
    width: 100%;
    height: 900px;
    background-color: blue;
    display: flex;
    align-items: center;
}

.about-image-holder {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about-image {
    width: 500px;
    height: 750px;
}

.about-info {
    width: 50%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
    padding-left: 20px;
}

.funny-shape-red {
    width: 16px;
    height: 14px;
    transform: skew(-20deg);
    background-color: red;
    position: relative;
    top: 4px;
    left: 17px;
    margin-right: 35px;
}

.funny-shape-red:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 14px solid red;
    border-left: 12px solid transparent;
    position: relative;
    bottom: 19px;
    right: 12px;
}

.about-small-header {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 6px;
}

.about-header {
    font-size: 96px;
    font-weight: 900;
    line-height: 90px;
}

.about-text {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    width: 430px;
    text-align: justify;
}

#videos {
    width: 100%;
    height: 850px;
    background-color: orange;
    color: white;
}

.videos-small-header-box {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos-small-header {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 6px;
    text-align: center;
}

.videos-header {
    font-size: 96px;
    font-weight: 900;
    line-height: 90px;
    text-align: center;
    padding-top: 20px;
}

.video-player-holder {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

video {
    width: 800px;
    height: 460px;
}

#gallery {
    width: 100%;
}

.gallery-small-header-box {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-small-header {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 6px;
    text-align: center;
    color: blue;
}

.gallery-header {
    font-size: 96px;
    font-weight: 900;
    line-height: 90px;
    text-align: center;
    padding-top: 20px;
}

.gallery-wrapper {
    width: 920px;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-image {
    width: 420px;
    height: 420px;
    margin: 20px;
    object-fit: cover;
}

#press {
    width: 100%;
    height: 450px;
    background-color: red;
}

.press-small-header-box {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.press-small-header {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 6px;
    text-align: center;
    color: lightgrey;
}

.press-showcase-wrapper {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-logo {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
    margin: 20px 40px;
}

#contact {
    width: 100%;
    height: 800px;
    background-color: blue;
}

.contact-small-header-box {
    padding-top: 80px;
    display: flex;
    align-items: center;
}

.contact-center-wrapper {
    width: 70%;
    margin: 0 auto;
}

.contact-small-header {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 6px;
    color: lightgrey;
}

.contact-header {
    font-size: 96px;
    font-weight: 900;
    line-height: 90px;
    padding-top: 20px;
    color: white;
}

.contact-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    color: white;
    font-weight: 300;
}

h6 {
    font-size: 22px;
    margin-bottom: 20px;
}

.contact-text {
    font-size: 17px;
}

.social-icons-box {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.social-icon {
    width: 70px;
    height: 70px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(103deg) brightness(102%) contrast(101%);
}

footer {
    width:70%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-size: 15px;
    font-weight: 300;
}

.footer-social-box {
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.footer-social-icon {
    width: 22px;
    height: 22px;
}

.backup-arrow {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 70px;
    width: 70px;
    height: 70px;
    background-image: url('./assets/left.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    transition: display 1s ease-in;
}

.left-rotated-box {
    width: 5%;
    height: 450px;
    position: fixed;
    left: 0;
    bottom: 15px;
    background-color: red;
}

.left-rotated-link {
    text-decoration: none;
    position: relative;
    top: 70px;
}

.left-rotated-text {
    font-size: 18px;
    font-weight: 700;
    color: white;
    transform: rotate(-90deg);
}

.left-rotated-text:hover {
    color: lightblue;
}

.right-rotated-box {
    width: 5%;
    height: 450px;
    position: fixed;
    right: 0;
    bottom: 15px;
    background-color: blue;
}

.right-rotated-link {
    text-decoration: none;
    position: relative;
    top: 350px;
}

.right-rotated-text {
    font-size: 18px;
    font-weight: 700;
    color: white;
    transform: rotate(90deg);
}

.right-rotated-text:hover {
    color: lightblue;
}

@media(max-width: 740px) {
    body {
        position: absolute;
        /* width: 100vw; */
        overflow-x: hidden;
    }

    .fixed-name-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 700px;
        justify-content: start;
    }

    .fixed-name-box p {
        font-size: 26px;
        padding-left: 25px;
    }

    .fixed-social-box {
        display: none;
    }

    .right-rotated-box {
        display: none;
    }
    .left-rotated-box {
        display: none;
    }

    .mobile-button-container {
        display: block;
        position: absolute;
        top: 17px;
        right: 18px;;
    }

    .toggle-button {
        height: 30px;
        width: 24px;
    }

    .toggle-button-line {
        width: 24px
    }

    .center-wrapper {
        width: 100%;
    }

    #navbar {
        height: 80px;
        width: 100%;
    }

    .navbar-ul {
        display: none;
    }

    header {
        display: block;
    }

    .shape1, .shape2, .shape3, .shape4, .shape5 {
        display: none;
    }

    .header-text-holder {
        position: static;
    }

    h1 {
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        padding-top: 60px;
    }

    .header-small-header {
        text-align: center;
        font-size: 24px;
    }

    .header-image-holder {
        width: 90%;
        margin: 0 auto;
        height: auto;
    }

    .header-image {
        position: static;
        width: 100%;
        height: 400px;
    }

}